
body {
    font-size: 18px;
    font-family: 'Rokkitt', serif;
    background-image: url(../images/whitediamond.png);
    background-color: #ffffff;
    color: #333333;
    line-height: 1.2em;
    margin: 0 auto;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    color: indigo;
    font-size: 60px;
    line-height: 80px;
    font-family: 'Monoton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 10px auto;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.label {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
}

h3 {
    font-size: 28px;
    line-height: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 10px auto;
    width: 500px;
    border: solid 2px indigo;
    background-color: aliceblue;
    clear: both;
}

.instructions {
    background-color: turquoise;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
}

aside#scoreboard {
    background-color: hotpink;
    border: solid 2px indigo;
    float: left;
    width: 250px;
    margin: 20px;
    margin-top: 0;
    padding: 20px 10px;
    line-height: 2em;
    text-align: left;
}

#jewels {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

#jewels li {
    display: inline;
}

#winMessage, #lossMessage {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-align: center;
    text-align-last: center;
}